<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">

        <!-- MainActivity (Mantenemos, pero sin filtro de LAUNCHER) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- Otras Activities -->
        <activity
            android:name=".Username_activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Categorias_activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Pantalla_aprender"
            android:exported="true">
        </activity>
        <activity
            android:name=".Pantalla_juego"
            android:exported="true">
        </activity>
        <activity
            android:name=".Pantalla_ganar"
            android:exported="true">
        </activity>

        <!-- 🛑 NUEVA ACTIVITY Y PUNTO DE INICIO TEMPORAL 🛑 -->
        <activity
            android:name=".scores_activity"
            android:exported="true">
            <!-- ESTE FILTRO HACE QUE LA APP INICIE AQUÍ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicPlayer"/>
    </application>

</manifest>